.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    flex-direction: column;
}

.logo {
    font-size: 1.4rem;
    font-family: 'Croissant One', cursive;
    font-weight: 700;
}

.nav__container .user {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.user h1 span {
    color: hsl(247, 82%, 66%);
    font-size: 1.125rem;
}

.user button {
    --box-shadow: rgba(0, 0, 0, .05) 0px 0px 0px 1px;
    box-shadow: var(--box-shadow);
    border: none;
    background-color: #757e8a;
    color: #fff;
    height: 40px;
    width: 90px;
    cursor: pointer;
}

@media (min-width:620px) {
    .nav__container {
        flex-direction: row;
    }
}

@media (max-width:300px) {
    .nav__container .user {
        flex-direction: column;
        align-items: flex-start;
    }
}