.auth__main {
    margin-top: 5rem;
}

.auth__container {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* max-width: 35rem; */
    background-color: var(--clr-gray);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    padding-block: 2rem;
    padding-inline: 1rem;
}

.auth__container>h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.auth__container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth__container form input {
    height: 40px;
    padding-left: 10px;
    outline: none;
}

.auth__container button {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    background-color: hsl(247, 82%, 66%);
    color: #fff;
    display: grid;
    place-content: center;
    height: 35px;
    border: 1px solid transparent;
    font-size: 0.9rem;
    text-decoration: none;
    max-width: 12.5rem;
    align-self: flex-end;
    padding-inline: 1rem;
    cursor: pointer;
}

.password__container {
    position: relative;
}

.eye {
    position: absolute;
    top: 8px;
    right: 3%;
    font-size: 1.5rem;
}

.password__container input {
    width: 100%;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 1rem;
}


.tabs button {
    height: 50px;
    border-radius: 100vh;
    width: 250px;
    background-color: #1f5a90;
    color: #fff;
    font-size: 1.1rem;
    border: none;
}

.active {
    border: 1px solid #1f5a90 !important;
    background-color: transparent !important;
    color: hsl(247, 82%, 66%) !important;
}

@media (min-width:780px) {
    .auth__container {
        max-width: 35rem;
    }
}